{% extends "base.html" %}

{% block title %}Carrito{% endblock %}

{% block content %}
    <h2>Carrito de Compras</h2>
    {% if order %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Imagen</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Precio Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.items.all %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid" style="max-width: 100px;"></td>
                            <td>{{ item.quantity }}</td>
                            <td>${{ item.product.price }}</td>
                            <td>${{ item.total_price }}</td>
                            <td>
                                <a href="{% url 'remove_from_cart' item.product.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{% url 'checkout' %}" class="btn btn-primary">Proceder al Pago</a>
    {% else %}
        <p>Tu carrito está vacío.</p>
    {% endif %}
{% endblock %}
